@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700');

:root {
  --color-white: #ffffff;
  --bg-overflow: rgba(0, 0, 0, 0.8);
  --color-loader: rgb(255, 255, 255);
  --color-primary: rgb(85 170 212);
  ---text-black: #000000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.4rem;
  font-weight: 400;
  overflow: hidden;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

* {
  scrollbar-width: 0;
}

*::-webkit-scrollbar {
  background-color: transparent;
  width: 12px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: #ddd;
  border: 4px solid #fff;
}

/* LOADER PAGE AR   */

.arjs-loader {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bg-overflow);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arjs-loader div {
  text-align: center;
  font-size: 1.25em;
  color: white;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 6.4rem;
  height: 6.4rem;
  margin: 0.8rem;
  border: 0.8rem solid var(--color-loader);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--color-loader) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*BUTTON*/

.btn {
  outline: none;
  border: none;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
  padding: 0.8rem 1.8rem;
  border-radius: 4px;
  display: inline-block;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: 500;
  text-align: center;
  display: inline-block;
}

.btn-run-animations {
  position: fixed;
  right: 10vw;
  bottom: 2vh;
}

.btn-show-info {
  position: fixed;
  left: 10vw;
  bottom: 2vh;
}

.btn-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* SLIDE VOLUMN */
#control {
  position: fixed;
  left: -2%;
  z-index: 10;
  top: 20%;
  transform: rotate(-90deg);
}

/* SECTION LIST MENU */
.modal {
  position: absolute;
  inset: 0;
  background-color: rgba(#000, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
  z-index: 10;
}

.modal.section-list-menu {
  position: absolute;
  inset: 0;
  background-color: rgba(#000, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
  z-index: 10;
}

.modal.section-list-menu.hidden {
  display: none;
  visibility: hidden;
}

.modal-container {
  max-height: 75vh;
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1.5rem 3rem 0 rgba(#000, 0.25);
  min-height: 50%;
}

@media (max-width: 60rem) {
  .modal-container {
    width: 90%;
  }
}

.modal-container-header {
  padding: 1.6rem 2rem;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-container-title {
  display: flex;
  align-items: center;
  gap: 1rem;
  line-height: 1;
  font-weight: 700;
  font-size: 2rem;
}

.modal-container-title svg {
  width: 3rem;
  height: 3rem;
  color: var(--color-primary);
}

/* ICON BUTTOn */
.icon-button {
  padding: 0;
  border: 0;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.15s ease;
}

.icon-button svg {
  width: 2.4rem;
  height: 2.4rem;
  color: var(--color-primary);
}

.icon-button:hover,
.icon-button:focus {
  background-color: #dfdad7;
  transform: scale(1.2);
}

.modal-container-body {
  padding: 2.4rem 2.2rem 5.1rem;
  overflow-y: auto;
}
.modal-container-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-container-item {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.modal-container-item > div {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.3rem;
}

.modal-container-item > div img {
  max-width: 6rem;
  height: 100%;
  width: 6rem;
  object-fit: contain;
}
.model-container-item-left .content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.model-container-item-left .content span {
  font-weight: 400;
  font-size: 1.3rem;
  font-style: italic;
}

.button {
  padding: 0.6rem 1.3rem;
  border-radius: 8px;
  background-color: transparent;
  border: 0;
  font-weight: 600;
  cursor: pointer;
  transition: 0.15s ease;
  height: 100%;
  max-height: 3.4rem;
  display: inline-block;
}

.button.is-primary {
  background-color: var(--color-primary);
  color: #fff;
}

.button.is-big {
  padding: 1.5rem 2.6rem;
  display: flex;
  font-size: 1.8rem;
  align-items: center;
  justify-content: center;
}

/* MODEL ORDER SUCCESSS */
.modal.modal.order-success .modal-container-header {
  border-bottom: none;
  flex-direction: column;
  gap: 2rem;
}

.modal.order-success .modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 15%;
  text-align: center;
}

.modal.modal.order-success.hidden {
  display: none;
  visibility: hidden;
}

/* CUSTOMER POPUP PERMISSION */

.a-dialog-allow-button {
  background-color: var(--color-primary) !important;
  color: rgb(255, 255, 255) !important;
}

.a-dialog-deny-button {
  background-color: var(---text-black) !important;
  color: var(--bg-overflow) !important;
}

.a-dialog-ok-button {
  background-color: green;
}
