@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500&display=swap');

:not(:defined) > * {
  display: none;
}
:root {
  --color-primary: #0096d1;
  --color-black: #333333;
  --color-white: #ffffff;
  --white-text: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
  font-weight: 400;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', 'Helvetica Neue', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-white);
  position: relative;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  cursor: pointer;
  border: 0;
  outline: 0;
}

ul {
  list-style: none;
}

input {
  border: 2px solid transparent;
}

main {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

/* COMMOM */

p.desc {
  color: var(--color-black);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
}

.btn {
  padding: 1rem 2rem;
  font-size: 1.8rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.25s ease-in;
  border: 1px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn--primary {
  border: 1px solid transparent;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn--primary:hover {
  color: var(--color-primary);
  background-color: var(--color-white);
  border: 1px solid var(--color-primary);
}

.btn--white {
  border: 1px solid var(--color-primary);
  background-color: var(--color-white);
  color: var(--color-primary);
}

.btn--white:hover {
  border: 1px solid transparent;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.tag {
  color: var(--color-black);
  font-size: 1.4rem;
  display: inline-block;
  padding: 0.5rem 0.8rem;
  background-color: #ebebf1;
  border-radius: 2px;
}

/* END COMMOM */

/* CONTAINER */

/* CONTAINER-TOP */
.container {
  margin: 4rem auto;
  padding-left: 6rem;
  padding-right: 6rem;
  max-width: calc(110rem + 12rem);
}

.container-top {
  display: flex;
  gap: 5rem;
  margin-bottom: 3rem;
}

/* CONTAINER-TOP-LEFT */

.container-top__left {
  max-width: 54rem;
  max-height: 34rem;
  width: 100%;
  flex-shrink: 0;
}

.container-top__left__img {
  width: 100%;
  border-radius: 2rem;
  object-fit: cover;
  max-height: 34rem;
  height: 100%;
}

/* END CONTAINER-TOP-LEFT */

/* CONTAINER-TOP-RIGHT */

.container-top__right {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--color-black);
  margin-bottom: 2rem;
}

.container-top__right .block-header {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2.5rem;
}

.container-top__right .block-header img {
  width: 6rem;
  border-radius: 9999px;
  border: solid 1px #3333;
}

.logo {
  width: 6rem;
}

.logo-ar {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.container-top__right .block-header a {
  display: flex;
  flex-direction: column;
}

.container-top__right .block-header a h5 {
  color: var(--color-primary);
  font-size: 1.8rem;
  font-weight: 400;
}

.container-top__right .block-header a span {
  font-size: 1.6rem;
  color: #aaaaaa;
  line-height: calc(24 / 16);
}

.container-top__right p + p {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.container-top__right .list-button {
  display: flex;
  gap: 1.2rem;
  align-items: end;
}

.container-top__right .list-button i {
  font-size: 1.8rem;
}

/* END-CONTAINER-TOP-RIGHT */

/* CONTAINER-BOTTOM */

/* .container-bottom {
} */

.container-bottom__title {
  margin-left: 1rem;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--color-black);
  padding-bottom: 1rem;
  border-bottom: 4px solid var(--color-primary);
  margin-bottom: 2.6rem;
}

.container-bottom p ~ p {
  margin-top: 4rem;
  margin-bottom: 4rem;
  color: var(--color-black);
  font-weight: 400;
}

.container-bottom__listtag {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.6rem;
}
/* END-CONTAINER-BOTTOM */

/* SLIDER */
.container-bottom__slider {
  position: relative;
  max-height: 50rem;
  height: 100%;
  border-radius: 10px;
}

.icon-slider-left,
.icon-slider-right {
  position: absolute;
  font-size: 4rem;
  color: #7e81a1;
  cursor: pointer;
  border-radius: 9999px;
  transition: all 0.25s ease-in-out;
}

.icon-slider-left {
  left: -5rem;
  top: 50%;
  transform: translateY(-50%);
}

.icon-slider-right {
  right: -5rem;
  top: 50%;
  transform: translateY(-50%);
}

.icon-slider-left:hover,
.icon-slider-right:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
  transform: scale(1.01) translateY(-50%);
}

.container-bottom__slider__container {
  display: flex;
  overflow-x: hidden;
}

.container-bottom__slider__container img {
  max-width: 27rem;
  border-radius: 2rem;
  height: 50rem;
  max-height: 50rem;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  margin-left: 2.4rem;
}

/* END SLIDER */

@media only screen and (max-width: 1200px) {
  p.desc {
    font-size: 1.4rem;
  }

  .container {
    margin: 1rem auto;
    padding-left: 2rem;
    padding-right: 2rem;
    overflow-x: hidden;
  }
  .container-top {
    flex-direction: column;
    gap: 2rem;
  }
  .container-top__left {
    display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }

  .container-top__right {
    margin-top: 0;
    width: 100%;
    text-align: left;
  }

  .container-bottom {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .container-bottom__title {
    width: fit-content;
  }
  .btn {
    font-size: 1.2rem;
    padding: 0.5rem 0.8rem;
    gap: 0.4rem;
  }

  .container-bottom__slider {
    max-width: calc(100% - 1rem);
  }

  .icon-slider-left {
    left: -5.5rem;
  }

  .icon-slider-right {
    right: -5.5rem;
  }

  .container-top__right .list-button {
    display: flex;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 767px) {
  p.desc {
    font-size: 1.2rem;
  }

  .container-bottom p ~ p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .tag {
    font-size: 1.2rem;
  }

  .container-bottom__slider {
    max-width: calc(100% - 1rem);
  }

  .icon-slider-left {
    left: -1.5rem;
    z-index: 100;
  }

  .icon-slider-right {
    right: -1.5rem;
    z-index: 100;
  }
}

.slick-dots {
  display: none !important;
}

.slick-list.draggable {
  padding: 0 2rem !important;
}

/* CUSTOM MODEL */

#welcome-modal {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 255;
}

.modal > .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  --tw-backdrop-blur: blur(4px);
  backdrop-filter: blur(4px);
  background-color: #0f172a40;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

.message-modal .window {
  padding: 1em;
  color: #333;
  text-align: center;
}

.message-modal header {
  font-size: 1.5em;
  font-weight: bold;
  margin: 1em 0;
  border-bottom: #333 1px solid;
}

.modal > .window.bg-gray {
  background-color: rgba(0, 0, 0, 0.4);
  color: var(--white-text);
  font-size: 1.6rem;
  max-width: 60rem;
  max-height: 46rem;
  width: 90%;
  height: 100%;
  min-height: auto;
  border-radius: 8px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal > .window.bg-gray > img {
  width: 80%;
  max-height: 80%;
  object-fit: contain;
}

.model-top {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.4rem;
  max-height: 7rem;
  font-weight: 500;
  text-align: center;
  position: relative;
  height: 100%;
  max-width: 100%;
}

.model-top h5 {
  font-size: 2.4rem;
  text-align: center;
  font-weight: 500;
  color: var(--white-text);
}

.model-top i {
  font-size: 3rem;
  font-weight: 500;
  color: var(--white-text);
}

.modal > .window {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: all linear;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  border-radius: 10px;
  width: 90%;
  min-height: 60%;
  height: 70%;
  max-height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.line1 {
  width: 100%;
  display: grid;
  place-items: center;
}

.line1 > div {
  width: 100%;
  height: 2px;
  background-color: #fff;
  max-width: 32rem;
}

.list-gift {
  list-style: none;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  font-weight: 300;
  padding: 0;
  margin-top: 2rem;
  gap: 1.7rem;
  margin-bottom: 0;
}

.list-gift > li {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.list-gift > li > i {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  margin-left: 2px;
  color: #b4d3e4;
  opacity: 0.9;
}

.list-gift > li > span {
  color: var(--white-text);
  font-weight: 400;
}

.footer-gift {
  text-align: right;
}

.gift-link {
  text-align: right;
  text-decoration: underline;
  padding-right: 2rem;
  font-weight: 400;
  transition: all 0.25s linear;
  line-height: 1.6;
  color: var(--white-text);
  cursor: pointer;
  font-size: 1.6rem;
}

.gift-link:hover {
  transform: scale(1.02);
  opacity: 0.7;
}

.modal > .window p.desc {
  font-size: 1.6rem;
  font-weight: 300;
  margin-top: 2rem;
  color: var(--white-text);
  line-height: 1.6;
  margin-bottom: 0;
}

.modal > .window > .x.close {
  position: absolute;
  top: 10px;
  width: 3.8rem;
  height: 3.8rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  border-radius: 9999px;
  font-weight: 400;
  justify-content: center;
  z-index: 300;
  right: 10px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.30196078431372547);
  transition: all 0.25s ease-in;
}
.modal > .window > .x:active {
  opacity: 1.2;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal > .btn > i {
  font-size: 1rem;
}

.center-div {
  display: flex;
  align-content: center;
  justify-content: center;
}

.btnar {
  display: inline-block;
  text-align: center;
  padding: 1em;
  border: none;
  border-radius: 0.5em;
  color: white;
  background: #5c5c5c;
  width: 45%;
  margin: 1em 0;
  box-sizing: border-box;
  text-decoration: none;
}

.btnar--primary {
  background: #19bec8;
}

@media only screen and (max-width: 1024px) {
  .modal > .window {
    font-size: 1.2rem;
  }

  .modal > .window.bg-gray {
    max-height: 45rem;
  }

  .egg-left > img {
    display: block;
    position: absolute;
    transition: all 2s ease-in;
    max-width: 150%;
  }

  .egg-right > img {
    display: block;
    top: 70px;
    right: 30px;
    position: absolute;
    transition: all 2s ease-in;
    max-width: 60%;
  }

  .model-top {
    font-size: 1.2rem;
  }

  .header-bg {
    font-size: 1.2rem;
  }

  .image-firework-box-4 {
    bottom: 30px;
    left: 20px;
  }

  .btn,
  .btn-custom {
    font-size: 1.2rem;
  }

  .btn-custom > span {
    font-size: 1.2rem;
  }

  .container-success-left {
    font-size: 1.2rem;
  }

  .container-success-left h4 {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: calc(26.4 / 22);
  }

  .container-success-left span {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: calc(26.4 / 22);
  }

  .img-pngegg {
    margin-top: 10px;
    object-fit: cover;
    width: 200px;
  }

  .image-firework-box-1 {
    position: absolute;
    transform: translate(35%, 80%);
  }

  .image-firework-box-2,
  .image-firework-box-3 {
    position: absolute;
    top: 20px;
    left: 10px;
  }
}

@media only screen and (max-width: 490px) {
  .list-gift > li {
    font-size: 1.2rem;
    gap: 0.5rem;
  }

  .modal > .window.bg-gray {
    max-width: 38rem;
    padding-left: 2rem;
    max-height: 34rem !important;
  }

  .list-gift {
    gap: 0.5rem;
  }

  .modal > .window > .x.close {
    position: absolute;
    top: 4px;
    width: 3rem;
    height: 3rem;
    right: 8px;
  }

  .header-bg {
    font-size: 1rem;
  }

  .model-top > h5 {
    font-size: 1.8rem;
  }

  .modal > .window p.desc {
    font-size: 1.2rem;
    font-weight: 300;
  }

  .line1 {
    margin-top: 0rem;
  }

  .gift-link {
    font-size: 1.2rem;
  }
}

#error {
  background-color: #ffffffdd;
  border-radius: 16px;
  padding: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  transition: opacity 0.3s;
}
#error.hide {
  opacity: 0;
  visibility: hidden;
  transition: visibility 2s, opacity 1s 1s;
}

#model-viewer {
  /*position: fixed;*/
  /*inset: 0;*/
  overflow: hidden;
  width: 100%;
  height: 90vh;
  max-height: 100vh;
  position: relative;
  z-index: 100;
}

.scan {
  max-width: 12rem;
  max-height: 12rem;
}

.scan img {
  width: 100%;
  height: 100%;
  border: 1px #19bec8 solid;
}

#error {
  background-color: #ffffffdd;
  border-radius: 16px;
  padding: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  transition: opacity 0.3s;
}
#error.hide {
  opacity: 0;
  visibility: hidden;
  transition: visibility 2s, opacity 1s 1s;
}

/*#btn-sharing { display: block; position: absolute; bottom: 30px; right: 20px; z-index: 9999;}*/

model-viewer[ar-status='not-presenting'] {
  opacity: 0;
  visibility: hidden;
  display: none;
  touch-action: none;
}

model-viewer[ar-status='failed'] {
  opacity: 0;
  visibility: hidden;
  touch-action: none;
  display: none;
}

model-viewer[ar-status='object-placed'] {
  opacity: 1;
  visibility: visible;
  display: block;
  touch-action: auto;
}

model-viewer[ar-status='session-started'] {
  opacity: 1;
  visibility: visible;
  display: block;
  touch-action: auto;
}

model-viewer[ar-status='not-presenting'].active {
  opacity: 1;
  visibility: visible;
  display: block;
  touch-action: auto;
}

model-viewer[ar-status='failed'].active {
  opacity: 0;
  visibility: hidden;
  touch-action: none;
  display: none;
}

model-viewer[ar-status='object-placed'].active {
  opacity: 1;
  visibility: visible;
  display: block;
  touch-action: auto;
}

model-viewer[ar-status='session-started'].active {
  opacity: 1;
  visibility: visible;
  display: block;
  touch-action: auto;
}

.annotation {
  background-color: #888888;
  position: absolute;
  transform: translate(10px, 10px);
  border-radius: 10px;
  padding: 10px;
}

.btn-exit,
#btn-3d,
.wrap-btn-list > button {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 1rem;
}

.btn-exit,
.btn-exit-3d {
  width: 4rem;
  position: absolute;
  top: 3rem;
  right: 2rem;
  background-color: #cccccc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--color-white);
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
}

.btn-exit i,
.btn-exit-3d {
  font-weight: 700;
  font-size: 1.2rem;
}

.wrap-btn-list {
  display: flex;
  gap: 5px;
  align-items: center;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.hidden-deep {
  display: none;
  visibility: hidden;
  touch-action: none;
  opacity: 0;
}

.none {
  display: none !important;
}

.btn-active:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn-active:disabled:hover {
  transition: none;
  background-color: var(--color-primary);
  color: var(--white-text);
}
